<header>
    <nav>
      <div class="nav">
        <a href="#home">My Password</a>
        <a href="#news">My Orgs</a>
      </div>
      <form class="search-bar" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <button type="Submit">Logout</button>
      <div class="picture">
        <img src="\images\PASSWORD-KEEPER_free-file.png" style="width:4em; height:5em;" />
      </div>
    </nav>

    <% if(user){ %>
      <h3>Logged: <%= user.email %></h3>
        <form action="/logout" method="POST">
          <button>Logout</button>
        </form>
        <% } else { %>
          <a class="nav-item nav-link" href="/users">Register</a>
        <% } %>

  </nav>
</header>
