<header class="header">
  <nav>
    <div class="nav">
      <a href="/users/passwords">My Password</a>
      <a href="/orgs">My Orgs</a>
    </div>
    <form class="search-bar" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div class="picture">
      <img src="\images\PASSWORD-KEEPER_free-file.png" style="width:4em; height:5em;" />
    </div>
    <form action="/auth/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </nav>
</header>
