<header class="header">
  <nav>
    <div class="nav">
      <a href="/users/passwords">My Password</a>
      <a href="/orgs">My Orgs</a>
    </div>
    <form class="search-bar" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <button type="Submit">Logout</button>
    <div class="picture">
      <img src="\images\PASSWORD-KEEPER_free-file.png" style="width:4em; height:5em;" />
    </div>
  </nav>

  <a>
    <%= JSON.stringify(user) %>
  </a>
  <a>
    <%= JSON.stringify(passwords) %>
  </a>

  <% if(user){ %>
    <h3>Logged: <%= user.email %>
    </h3>
    <form action="/auth/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
    <% } else { %>
      <a class="nav-item nav-link" href="/users"></a>
      <% } %>

        </nav>
</header>