<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Password</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/users.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/new_password.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/edit-password.js"></script>
</head>

<body>
  <a id="password-json"><%- JSON.stringify(password) %></a>
  <a id="tags-json"><%- JSON.stringify(tags) %></a>
  <%- include('partials/_header', { user: user }) %>

      <!-- New password section -->

      <main>
        <!-- New password section -->
        <section class="new_password">
          <div class="w3-display-middle"></div>
          <h2>Edit Password</h2>
        </section>
        <section class="create password" id="create_password"></section>
        <form id="create-password-form" class="create password" method="POST" action="/users/password" name="create password"
          type="create password">
          <input class="hidden" id="passwordId" type="text" name="passwordId" required value="<%= password[0].id %>">
          Page address:<br>
          <input id="websiteName" type="text" name="websiteName" placeholder="Page address" required><br><br>
          Username:<br>
          <input id="username" type="text" name="username" placeholder="Username" required><br><br>
          Password:<br>
          <input id="password" type="password" name="password" placeholder="Password" required>
          <button type="button" class="Copy" id='copy_password_button'>Copy Password</button>
          <button type="button" class="" id='toggle_visibility_button'>Toggle Visibility</button><br><br>
          
          <div id="password-checkbox-options">
            <label for="lowercase">Lowercase</label>
            <input type="checkbox" id="lowercase" name="lowercase" value="Lowercase"><br>
  
            <label for="uppercase">Uppercase</label>
            <input type="checkbox" id="uppercase" name="uppercase" value="Uppercase"><br>
  
            <label for="numbers">Numbers</label>
            <input type="checkbox" id="numbers" name="numbers" value="Numbers"><br>
  
            <label for="symbols">Symbols</label>
            <input type="checkbox" id="symbols" name="symbols" value="Symbols"><br>
          </div>          

          <label for="password-length">Length<a id="password-length-output">()</a></label><br><br>
          <input id="password-length" name="password-length" type="range" min="8" max="50" value="8" /><br><br>
         
          <button type="button" class="Copy" id='generate-password'>Generate Password</button><br><br>
          Tag:<br>
            <input id="tagId" type="text" name="tagId" list="tags-list" />
            <datalist id="tags-list">
            </datalist><br><br>
            <button type="submit">Save New password</button>
        </form>
       
        </section>

      </main>
</body>

</html>