<!DOCTYPE html>
<html lang="en">

<head>
  <title>Index</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  

</head>
<body>
  <nav>
    <section class="login_to_password" id="login_to_password"></section>
      <form class="login-to-password" action="/login">
        <button type="Submit">Login</button>
      </form>
      <section class="register_to_password" id="register_to_password"></section>
      <form class="register-to-password" action="/login">
        <button type="Submit">Register</button>
      </form>
    <div class="picture">
      <img src="\images\PASSWORD-KEEPER_free-file.png" style="width:4em; height:5em;"/>
    </div>
  </nav>
  <main>
      <h1>Welcome to our password management website, where you can securely store and manage all your passwords in one safe and convenient location. In today's digital age, we all have an ever-increasing number of online accounts, from banking and shopping to social media and email. With so many passwords to remember, it can be difficult to keep track of them all and ensure that they are secure. That's where our password management service comes in. 🥔</h1>
  </main>
</body>
</html>
