<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>New Password</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/users.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/new_password.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>

    <%- include('partials/_header', { user: user }) %>

  <main>
    <!-- New password section -->
    <section class="new_password">
      <div class="w3-display-middle"></div>
      <h2>Create new password</h2>
    </section>
    <section class="create password" id="create_password"></section>
    <form class="create password" method="POST" action="/users/new_password" name="create password"
      type="create password">
      Username:<br>
      <input type="text" name="username" placeholder="Username" required><br><br>

      Password:<br>
      <input id="password" type="password" name="password" placeholder="Password" required><br><br>
      Tag: <br>
      <input id="my_tag" type="text" name="tag" placeholder="tag" required><br><br>
      <button type="submit">Create password</button>
      <button class="Edit" type="submit">Edit</button>
    </form>
    <button id='copy_password_button' class="Copy">Copy </button>
    </section>

  </main>

</body>

</html>
