<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passwords</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->

  <!-- App CSS -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/new_password.css" />
  <link rel="stylesheet" href="/styles/passwords.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- App JS -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <!-- Top navbar (fixed) -->

  <%- include('partials/_header', { user: user }) %>
    <div class="box-container">
       <section class="create_org" id="create_org"></section>
        <form class="create-org" action="/orgs">
          <button type="Submit">Create Organizations</button>
        </form>
      <section class="share_password" id="share_password"></section>
        <form class="share-password" action="/invites">
          <button type="Submit">Share password</button>
        </form>
      <section class="create_password" id="create_password"></section>
        <form class="create-password" action="/new_password">
          <button type="Submit">Create password</button>
        </form>
      <table class="table">
          <display class="view_password_button"></display>
          <button data-id="<%= user %>" id='view_password_button'>
          </button>
      </table>
    </div>
    <!-- <div class="content"> -->
    <main>
      <table class="table">
        <div class="password-box"></div>
      </table>
    </main>
    <div class="box-container"></div>
</body>

</html>
