body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(219, 223, 224);

}

.hidden {
  display: none !important;
}

.org-name {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
}