header {
  margin-top: 0;
  width: 100%;
}

nav {
  display: flex;
  height: 140px;
  width: 100%;
  color: #e7e5e5;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
  background-color: #2563eb;

  a {
    font-weight: bold;
    font-size: large;
    color: #e7e5e5;
  }
}

.user {
  font-size: medium;
  display: flex;
  justify-content: center;
  justify-items: center;

  a {
    padding-right: 10px;
  }

  button {
    font-size: medium;

    width: 100px;
    height: 20px;
    background: #e7e5e5;
    color: #000;
   
    border: 0;
    text-decoration: none;
    line-height: 17px;
  }

  button:hover {
    background: #bebbbb;
  }
}


