header {
  margin-top: 0;
  width: 100%;
}

nav {
  display: flex;
  height: 140px;
  width: 100%;
  color: #ffffff;
  padding: 0 1.5em;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s;
  background-image: url(/images/background.png);

  a {
    font-weight: bold;
    font-size: 24px;
    color: rgb(207, 153, 35);
  }
}

.picture {
  display: flex;
  margin-bottom: 10px;
  transform: scale(0.9);

}


