body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.new_password {
  margin-top: 80px;
}

.copy_password_button {
display:flex;

}

