body,
html {
  margin: 0;
}

.logo {
  margin-bottom: 50px;
  transform: scale(0.9);
}

.hide {
  display: none;
}

#share_password {
  width: 200px;
  border-radius: 12px;
  position:relative;
  bottom: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#create_password {
  width: 200px;
  border-radius: 12px;
  position: relative;
  bottom: 48px;
  left: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#create_org {
  width: 200px;
  border-radius: 12px;
  position: relative;
  right: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}

// #view_password_button {
//   width: 200px;
//   height: 100px;
//   border-radius: 12px;
//   align-content: center;
//   justify-content: center;
//  }

 .box-container1 {
width: 100%;
border-radius: 12px;
padding: 50px;
border: 10px solid gray;
margin-top: 80px;

}

.box-container2 {
  width: 100%;
  border-radius: 12px;
  padding: 50px;
  border: 10px solid gray;
  margin-top: 200px;

  }

