body,
html {
  margin: 0;
}

.hide {
  display: none;
}

#share_password {
  width: 200px;
  position:relative;
  bottom: 24px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#box-container3 {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

  .view_password_button {
  display:grid;
  width: 200px;
  height: 200px;
  align-content: center;
  justify-content: center;
 }
}

#create_password {
  width: 200px;
  position: relative;
  bottom: 48px;
  left: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#create_org {
  width: 200px;
  position: relative;
  right: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
}



 .box-container1 {
width: 100%;
padding: 50px;
border: 10px solid gray;
margin-top: 80px;

}

.box-container2 {
  width: 100%;
  padding: 50px;
  border: 10px solid gray;
  margin-top: 200px;

  }


