body,
html {
  margin: 0;
}

.logo {
  margin-bottom: 50px;
  transform: scale(0.9);
}

.password-box {
width: 320px;
padding: 10px;
border: 5px solid gray;
margin: 0;
}

#view_password_button {
  width: 500px;
  height: 100px;
 }
